body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    height: 100vh;
    padding: 0;
    margin: 0;
    width: 100%;
}

.content {
    flex-grow: 1;
    padding: 1rem;
    background-color: var(--primary);
}

.newBoardForm {
    display: flex;
    gap: 0.5rem;
}

h3 {
    color: var(--text-color);
}

.columns {
    display: flex;
    gap: 20px;
    padding: 20px;
    overflow-x: auto;
}

.newColumnForm {
    display: flex;
    justify-content: space-between;
}

.newColumnForm input {
    border-radius: 99px;
    padding: 10px 20px;
    width: 86%;
}

.newColumnForm button {
    border-radius: 99px;
    font-size: 20px;
    width: 9%;
}