.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 45px;
    width: 100%;
    background-color: var(--bg-color);
}

.userInfo {
    font-size: 20px;
    padding: 10px;
    color: var(--text-color);
}

.actions {
    display: flex;
}

.actions button {
    margin: 10px;
    padding: 10px 14px;
    border: none;
    border-radius: 99px;
    cursor: pointer;
    transition: background-color 0.2s;
    background-color: var(--button-color);
    color: var(--text-color-white);
}

.actions button:hover {
    background-color: var(--button-color-hover);
}