.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 45px;
    width: 100%;
    background-color: #ffffff;
}

.userInfo {
    font-size: 20px;
    padding: 10px;
    color: var(--text-color);
}

.actions {
    display: flex;
    gap: 1rem;
}

.actions button {
    margin: 10px;
    border: none;
    border-radius: 99px;
    cursor: pointer;
    transition: background-color 0.2s;
}

