.sidebar {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: 20px;
    width: 300px;
    background-color: var(--bg-color);
    height: 100vh;
    border-radius: 48px;
    margin-top: 20px;
}

h2 {
    text-align: center;
}

.newBoardForm {
    display: flex;
    gap: 7px;
    margin-bottom: 20px;
}

.newBoardForm input {
    flex-grow: 1;
    padding: 10px 15px;
    border-radius: 99px;
}

.newBoardForm button {
    padding: 10px 25px;
    border: none;
    border-radius: 99px;
    cursor: pointer;
}

.boardList {
    display: flex;
    flex-direction: column;
}

