.sidebar {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: 20px;
    width: 300px;
    background-color: var(--bg-color);
    height: 100vh;
    border-radius: 48px;
    margin-top: 20px;
    gap: 15px;
}

h2 {
    text-align: center;
}

.newBoardForm {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.newBoardForm input {
    flex-grow: 1;
    padding: 10px 15px;
    border-radius: 99px;
    border: 1px solid var(--border-color);
    background-color: var(--input-bg);
    color: var(--text-color);
    caret-color: var(--text-color);
    transition: background-color 0.3s, border-color 0.3s;
}

.newBoardForm input::placeholder {
    color: var(--text-color);
    opacity: 0.7;
}

.newBoardForm button {
    padding: 10px 25px;
    border: none;
    border-radius: 99px;
    cursor: pointer;
    background-color: var(--button-color);
    color: var(--text-color-white);
    transition: background-color 0.3s;
}

.newBoardForm button:hover {
    background-color: var(--button-color-hover);
}


.boardList {
    display: flex;
    flex-direction: column;
}