:root {
    font-family: "Poppins", sans-serif;
    --primary: #f0f3f9;
    --bg-color: #ffffff;
    --bg-color-hover: #dce3ec;
    --block-bg: #ccd1dd;
    --text-color: #3d4b65;
    --text-color-white: #ffffff;
    --button-color: #3d4b65;
    --button-color-hover: #6e727e;
    --border-color: #6e727e;
    --error-color: #636872;
    --input-bg: #ffffff;
}

[data-theme='dark'] {
    --primary: #2b2f3a;
    --bg-color: #3a3f4b;
    --bg-color-hover: #4a4f5c;
    --block-bg: #4a4f5c;
    --text-color: #ffffff;
    --text-color-white: #ffffff;
    --button-color: #5a5f6e;
    --button-color-hover: #7c8294;
    --border-color: #9ea4b6;
    --error-color: #ff6b6b;
    --input-bg: #4a4f5c;
}

button {
    padding: 10px;
    background-color: var(--button-color);
    color: var(--text-color-white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--button-color-hover);
}

input {
    border: 1px solid var(--border-color);
    background-color: var(--input-bg);
    color: var(--text-color);
    caret-color: var(--text-color);
}

input::placeholder {
    color: var(--text-color);
    opacity: 0.7;
}

html {
    background-color: var(--primary);
}
